# Ignore all Python cache directories anywhere
__pycache__/
*.py[cod]

# Data artifacts
data/data_feat.pkl
data/selected_features.json

# Jupyter
.ipynb_checkpoints/
data/test.ipynb

# Model outputs
models/
shap_outputs/
