# Ignore all Python cache directories anywhere
__pycache__/
*.py[cod]

# Data artifacts
data/data_feat.pkl
data/selected_features.json
egap_comparison
# Jupyter
.ipynb_checkpoints/
data/test.ipynb

# Model outputs
models/
shap_outputs/
data/data_feat.pkl
data/data_feat.pkl
data/dataset.pkl
stoichml/__pycache__/featurizer.cpython-313.pyc
data/selected_features.json
